/*! Geral */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box !important;
}

body {
  width: 100vw;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  line-height: .4rem;
}

/*! Menu */

header {
  width: 100%;
  padding-top: 16px;
}

.navbar {
  height: 96px;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.nav-menu {
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 60px;
}

.logotipo img {
  width: 87px;
  height: 64px;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 8px 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}

.ellie {
  color: #584D30;
  font-weight: 700;
}

/*! Background */
.bg-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  background-image: url(../IMG/Background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  z-index: -99999 !important;
}

/*! Primeiro Container Banner*/

.container {
  height: 100%;
  max-width: 1440px;
  padding-left: 18px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/*! Parte Descritiva*/

.container-item-1 {
  max-width: 580px;
  display: flex;
  padding-top: 36px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.game {
  width: 100%;
  display: flex;
  justify-content: center;
}

.symbol-game {
  width: 592px;
}

.mini-descricao {
  height: 115px;
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 18px;
  text-align: justify;
  text-indent: 1rem;
}


/*! Botões */

.saiba-mais {
  height: 80px;
  width: 580px;
  display: flex;
  justify-content: flex-start;
  align-items: center !important;
}

.btn {
  height: 43px;
  width: 186px;
  margin-right: 16px;
  background-color: #584D30;

  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  border-style: none;
  transform: skewX(-10deg);

  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;

  transition: all .8s ease-in-out;
}

.color {
  background-color: transparent;
  border: 3px solid #584D30;
}

.btn:hover {
  transform: scale(1.10) skewX(-10deg);
  text-shadow: 1px 1px 2px white;
}

.desenvolvedoras {
  width: 580px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 16px;
}

.desenvolvedoras > img {
  margin-right: 16px;
}

.logo-estudio {
  width: 217px;
}

/*! Mouse */

.mouse {
  width: 60px;
  height: 42px;
  display: flex;
  align-self: flex-end;
  justify-self: center;
  cursor: pointer;
  animation: click-mouse 1.6s ease-in infinite;
}

#mouse {
  fill: white;
}

/*! Animação do Mouse */

@keyframes click-mouse {
  to {
    opacity: 1;
    margin-bottom: 0px;
  } from {
    opacity: 0;
    margin-bottom: 30px;
  }
}

/*! Segundo Container Banner*/

.no-destaque {
  top: 0;
  left: 0;
  width: 100%;
  height: 789px;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

.container-item-2 {
  overflow: hidden;
  height: 100%;
  padding-top: 30px;
  padding-right: 50px;
}

.ellie-image {
  height: 840px;
  background-size: cover;
  background-position: center;
}