/*! Geral */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box !important;
}

:root {
  --cor-principal: #584D30;
  --box-shadow: #ffffff;
}

body {
  width: 100vw;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  line-height: .4rem;
}

/*! Menu */

header {
  width: 100%;
  padding-top: 16px;
}

.navbar {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}

.nav-menu {
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 60px;
}

.logotipo img {
  width: 87px;
  height: 64px;
}

.nav-link {
  width: auto;
  height: auto;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 8px 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  cursor: pointer;
  position: relative;
  transition: all .5s ease-in;
}

.nav-link::before {
  content: '';
  width: 80%;
  height: 3px;
  position: absolute;

  background-color: var(--cor-principal);
  border-radius: 3px;

  top: 35px;
  right: 9px;
  opacity: 0;

  transition: all .8s ease-in;
}

.nav-link:hover::before {
  opacity: 1;
  box-shadow: 0px 0px 0m8px 0px var(--box-shadow);
}

.nav-link:hover {
  text-shadow: 0px 0px 3px blanchedalmond;
  transform: scale(1.08);
}

.nav-link-ellie {
  color: var(--cor-principal);
  font-weight: 700;
  width: auto;
  height: auto;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 8px 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  cursor: pointer;
  position: relative;
}


/*! Mídias Sociais */

.nav-social {
  display: flex;
}

.icon {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.midia-social {
  transition: all .4s;
}

.midia-social:hover {
  transform: scale(1.2);
}

.link {
  text-decoration: none !important;
  color: white;
}

/*? Facebbok */

.facebook {
  fill: #959698;
  cursor: pointer;
  transition: all .2s ease-in;
}

.facebook:hover {
  fill: #ffffff;
  text-shadow: 1px 1px 5px white;
}

/*? Instagram */

.instagram {
  fill: #959698;
  cursor: pointer;
  transition: all .2s ease-in;
}

.instagram:hover {
  fill: #ffffff;
  text-shadow: 1px 1px 5px white;
}

/*? Twitter */

.twitter {
  fill: #959698;
  cursor: pointer;
  transition: all .2s ease-in;
}

.twitter:hover {
  fill: #ffffff;
  text-shadow: 1px 1px 5px white;
}

/*? YouTube */

.youtube {
  fill: #959698;
  cursor: pointer;
  transition: all .2s ease-in;
}

.youtube:hover {
  fill: #ffffff;
  text-shadow: 1px 1px 5px white;
}

/*! Background */

.bg-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  background-image: url(../IMG/Background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  z-index: -10;
}

.bg-image::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(110deg, #0A0C10 5%, rgba(11, 12, 16, 0.56) 99%, #0A0C10 99%);

}

/*! Primeiro Container Banner*/

.container {
  height: 100%;
  max-width: 1440px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/*! Parte Descritiva*/

.container-item-1 {
  max-width: 580px;
  display: flex;
  padding-top: 36px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.game {
  width: 100%;
  display: flex;
  justify-content: center;
}

.symbol-game {
  width: 592px;
}

.mini-descricao {
  height: auto;
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 18px;
  text-align: justify;
  text-indent: 1rem;
}


/*! Botões */

.saiba-mais {
  height: 80px;
  width: 580px;
  display: flex;
  justify-content: flex-start;
  align-items: center !important;
}

.btn {
  height: 43px;
  width: 186px;
  margin-right: 16px;

  background-color: var(--cor-principal);
  outline: none;

  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  border-style: none;
  transform: skewX(-10deg);

  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;

  transition: all .8s ease-in-out;
}

.primary {
  position: relative;
}

.primary::after {
  content: '';
  width: 35px;
  height: 30px;
  position: absolute;

  top: -2px;
  left: -2px;
  background-color: transparent;
  opacity: 0;

  border-top: 3px solid white;
  border-left: 3px solid white;
  border-radius: 4px;

  transition: all .8s ease-in-out;
}

.primary:hover::after {
  opacity: 1;
}

.primary::before {
  content: '';
  width: 35px;
  height: 30px;
  position: absolute;

  bottom: -2px;
  right: -2px;
  background-color: transparent;
  opacity: 0;

  border-bottom: 3px solid white;
  border-right: 3px solid white;
  border-radius: 4px;

  transition: all .8s ease-in-out;
}

.primary:hover::before {
  opacity: 1;
}

.color {
  background-color: transparent;
  border: 3px solid var(--cor-principal);
  overflow: hidden;
  position: relative;
}

.color::before {
  content: '';
  top: 0%;
  left: 0%;
  position: absolute;

  width: 0%;
  height: 110%;
  background-color: var(--cor-principal);
  z-index: -1;
  transition: all .8s ease-in-out;
}

.color:hover::before {
  width: 110%;
}

.btn:hover {
  transform: scale(1.10) skewX(-10deg);
  text-shadow: 1px 1px 2px white;
}

.desenvolvedoras {
  width: 580px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 16px;
}

.desenvolvedoras > img {
  margin-right: 16px;
}

.logo-estudio {
  width: 217px;
}

/*! Mouse */

.mouse-content {
  width: 60px;
  height: 42px;
  cursor: pointer;
}

.mouse {
  width: 100%;
  height: 42px;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  position: absolute;
  animation: click-mouse 1.6s ease-in infinite;
}

#mouse {
  fill: white;
}

/*! Animação do Mouse */

@keyframes click-mouse {
  to {
    opacity: 1;
    margin-bottom: 0px;
  } from {
    opacity: 0;
    margin-bottom: 30px;
  }
}

/*! Segundo Container - Banner*/

.no-destaque {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  z-index: -5;
} 

.container-item-2 {
  overflow: hidden;
  height: 100%;
  padding-top: 30px;
  padding-right: 50px;
}

.ellie-image {
  height: 111%;
  background-size: cover;
  background-position: center;
}