/*! Geral */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  line-height: .4rem;
}

/*! Menu */

header {
  width: 100%;
  padding-top: 16px;
  background-color: rgb(148, 219, 67);
}

.navbar {
  height: 96px;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.nav-menu {
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 60px;
}

.logotipo img {
  width: 87px;
  height: 64px;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 8px 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}

.ellie {
  color: #584D30;
  font-weight: 700;
}